.ml-5{
    margin-left: 5px;
}

.mr-5{
    margin-right: 5px;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.m-5{
    margin: 5px;
}

.my-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mx-5{
    margin-left: 5px;
    margin-right: 5px;
}